---
layout: default
title: Risk Categories
---

<h1>Photosensitive Risk Categories</h1>

<p>Remember: Your source can have these naturally! Your video can be a risk without adding any effects!</P>

<p>TODO: Do we need to explain that "risk categories" are "triggers" ?</P>

<details class="toc" open><summary>Table of Contents</summary>
  <ol>
{% for risk in site.risks %}
    <li><a href="#{{ risk.shortcode }}">{{ risk.name }}</a></li>
{% endfor %}
  </ol>
</details>

<div class="collection">
{% for risk in site.risks %}
    <div class="anchor" id="{{ risk.shortcode }}"></div><br />
      <div class="item">
        {{ risk.content | markdownify }}
      </div>
{% endfor %}
</div>